* {
    font-size: 20px;
}
div#divCalendari {
    margin-top: 1em;
}
div#navCalendari {
    margin-top: 5em;
}
div#divCalendari > table th, div#divCalendari > table td {
    border-top: none;
    border-bottom: none;
}
.diaMes {
    border-radius: 5px;
    background-color: #F2F2F2;
    box-shadow: 0 0 1px 1px #C4C4C4;
    transition: box-shadow 1s, background-color 0.1s, border 0.5s;
}
.diaMes:hover {
    border: 1px solid #0091ff;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px #C4C4C4;
    transition: box-shadow 1s, background-color 0.1s, border 0.5s;
}
.diesFestius {
    color: #C50000;
    font-weight: bold;
}
.diaActual {
    color: #0D3184;
    font-weight: bold;
}
div#navCalendari {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div#navCalendari p {
    font-size: 23px;
}
div#navCalendari button {
    width: 40px;
    height: 35px;
    border: 1px solid #0091ff;
    border-radius: 3px;
    background-color: #0091ff;
    color: #ffffff;
    transition: box-shadow 1s;
}
div#navCalendari button:hover {
    box-shadow: 0 0 0 5px #72C2FF;
    transition: box-shadow 1s;
}
div#navCalendari button i {
    font-size: 15px;
}