body {
    box-sizing: border-box;
}

/* NAVBAR */

nav ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    width: 20%;
    list-style: none;
    position: absolute;
    right: 0;
}

/* END NAVBAR */

/* LOGIN PAGE */

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    background: linear-gradient(skyblue, pink);
    border-radius: 20px;
    box-shadow: 5px 0 5px 1px;
}

.login-form div input {
    margin: 5px;
}

.login-form button {
    margin-top: 25px;
}

/* END LOGIN PAGE */

/* HOME PAGE */

/* USER */

.index-user-container {
    display: flex;
    height: 95vh;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.crud-table {
    width: 80% !important;
}

a {
    text-decoration: none;
}

.reservarBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border: 2px solid green;
    background: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1.5s;
    cursor: pointer;
    color: white;
}

.reservarBtn:hover {
    background: green;
    border: 2px solid black;
    color: white;
    transition-duration: 1.5s;
}

/* END USER */

.index-admin-container {
    display: flex;
    height: 95vh;
    width: 100%;
    gap: 10px;
}

.selector-container {
    width: 50%;
    height: 50vh;
    border: 2px solid black;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.show-container {
    width: 50%;
    border: 2px solid orange;
    margin-top: 30px;
}

.dip {
    height: 100px;
    width: 100%;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dip:hover {
    border: 5px solid black;
    background: lightgray;
}
/* END HOME PAGE */

/* RESERVATION PAGE */

.flex-column-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reservation-form {
    display: flex;
    margin-top: 75px;
}

.reservation-form input,
.reservation-form select {
    margin: 5px;
    border: 1px solid;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
}

.reservation-form button {
    margin-top: 30px;
    border: none;
    background: none;
}

/* END RESERVATION PAGE */