body {
    box-sizing: border-box;
}

p {
    margin: 0 !important;
}

#divCentral {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
#sidebaradmin {
    grid-area: 1 / 1 / 6 / 6;
}
#contentAdmin {
    grid-area: 1 / 2 / 6 / 6;
}

/* NAVBAR */

nav {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    background-color: #1240AB;
}
nav#menu > div > div#navbarNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
nav#menu ul > li > a, nav#menu > div > a {
    align-items: center;
    height: 70px;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: transform 1s, background-color 1s, color 1s;
}
nav#menu ul > li > a:hover{
    transform: translate(0px, -3px);
    transition: transform 1s, background-color 1s, color 1s;
}
nav#menu li:hover > ul {
    display: block;
    margin-right: 2em;
}
nav#menu ul ul {
    background-color: #1240AB;
}
nav#menu ul ul > li > a {
    font-size: 15px;
    color: #fff;
}
nav#menu ul ul > li > a:hover {
    color: #fff;
    background-color: #1240AB;
}
.fa-bars {
    color: #fff;
}

/* END NAVBAR */

/* SIDEBAR ADMIN */

div#sidebaradmin {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    background-color: #1240AB;
}

div#sidebaradmin ul li {
    transition: background-color 0.7s;
}
div#sidebaradmin ul li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.7s;
}
.itemsidebaractive {
    background-color: rgba(175, 120, 11, 0.7);
}

/* END SIDEBAR ADMIN */

/* LOGIN PAGE */

.missatge-login {
    padding: 10px;
    border-radius: 15px;
    background-color: #970808;
    color: #fff;
}
.login-body {
    background-color: #9F9494;
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
}

.login-form div input {
    margin: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
}

.login-form div i {
    font-size: 23px;
    color: #000;
}

.login-form button {
    margin-top: 25px;
    width: 150px;
    height: 50px;
    border: 1px solid #1240AB;
    border-radius: 3px;
    font-size: 20px;
    background-color: #1240AB;
    color: #ffffff;
    transition: box-shadow 1s;
}
.login-form button:hover {
    box-shadow: 0 0 0 5px #365BB0;
    transition: box-shadow 1s;
}

button#login {
    width: 150px;
    height: 50px;
    border: 1px solid #0091ff;
    border-radius: 3px;
    font-size: 20px;
    background-color: #0091ff;
    color: #ffffff;
    transition: box-shadow 1s;
}
button#login:hover {
    box-shadow: 0 0 0 5px #72C2FF;
    transition: box-shadow 1s;
}

/* END LOGIN PAGE */

/* HOME PAGE */

/* USER */

.index-user-container {
    display: flex;
    height: 95vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.index-user-container2 {
    display: flex;
    height: 15vh;
    width: 80%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.imatge-sala {
    width: 100px;
    height: 100px;
}

.crud-table {
    width: 80% !important;
}

a {
    text-decoration: none;
}

.reservarBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border: 2px solid green;
    background: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1.5s;
    cursor: pointer;
    color: white;
}

.reservarBtn:hover {
    background: green;
    border: 2px solid black;
    color: white;
    transition-duration: 1.5s;
}

/* END USER */

.index-admin-container {
    height: 95vh;
}

.selector-container {
    width: 50%;
    height: 50vh;
    border: 2px solid black;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.show-container {
    width: 50%;
    border: 2px solid orange;
    margin-top: 30px;
}

.dip {
    height: 100px;
    width: 100%;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dip:hover {
    border: 5px solid black;
    background: lightgray;
}
/* END HOME PAGE */

/* RESERVATION PAGE */

.flex-column-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0 13px;
}

#cont {
    margin-top: 50px;
}

#sales {
    display: flex;
    width: 90%;
    height: 190px;
    margin-bottom: 5px;
}

#sales:hover {
    background: rgba(211, 211, 211, 0.678);
    cursor: pointer;
}

#dades-sala {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    border: 1px solid;
    justify-content: center;
}

#recursos-sala {
    display: flex;
    flex-direction: column;
    width: 63%;
    border: 1px solid;
    height: 100%;
    justify-content: center;
}

#foto-sala {
    width: 17%;
    border: 1px solid;
}

#foto-sala .imatge-sala {
    width: 100%;
    height: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.reservation-form {
    display: flex;
    margin-top: 75px;
}

.reservation-form input,
.reservation-form select {
    margin: 5px;
    border: 1px solid;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
}

.reservation-form button {
    margin-top: 30px;
    border: none;
    background: none;
}

/* END RESERVATION PAGE */

/* SELECT DAY RESERVATION IN CALENDAR PAGE */
@media screen and (min-width: 901px) {
    div#divCalendari table {
        height: 500px;
    }
}
@media screen and (max-width: 900px) {
    div#divCalendari table {
        height: 400px;
    }
}
div#divCalendari, div#navCalendari {
    font-size: 20px;
}
div#divCalendari > table th, div#divCalendari > table td {
    border-top: none;
    border-bottom: none;
}
.diaMes {
    border-radius: 5px;
    background-color: #F2F2F2;
    box-shadow: 0 0 1px 1px #C4C4C4;
    transition: background-color 0.5s;
}
.diaMes:hover {
    background-color: #C9C7C7;
    transition: background-color 0.5s;
}
.diesFestius {
    color: #C50000;
    font-weight: bold;
}
.diaMesActual {
    border-radius: 5px;
    background-color: #0D3184;
    box-shadow: 0 0 1px 1px #C4C4C4;
    transition: background-color 0.5s;
}
.diaMesActual:hover {
    background-color: #011543;
    transition: background-color 0.5s;
}
.diaActual {
    color: #fff;
    font-weight: bold;
}
div#navCalendari {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div#navCalendari p {
    font-size: 23px;
}
div#navCalendari button {
    width: 40px;
    height: 35px;
    border: 1px solid #0091ff;
    border-radius: 3px;
    background-color: #0091ff;
    color: #ffffff;
    transition: box-shadow 1s;
}
div#navCalendari button:hover {
    box-shadow: 0 0 0 5px #72C2FF;
    transition: box-shadow 1s;
}
div#navCalendari button i {
    font-size: 15px;
}

/*PANELL ADMINISTRADOR*/
div#opcionsAdmin {
    width: 100%;
}
div#opcionsAdmin div {
    padding: 50px;
    border: 1px solid #000;
}